absl-py==0.7.0
AIML-Bot==0.0.3
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.3
annoy==1.17.0
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
apyori==1.1.2
asgiref==3.2.3
asn1crypto==1.3.0
astor==0.7.1
astroid==2.3.3
astropy==4.0
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.3.0
Automat==0.7.0
autopep8==1.4.3
Babel==2.8.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
baselines==0.1.5
bcrypt==3.2.0
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
blis==0.4.1
blist==1.3.6
bokeh==1.4.0
boto==2.49.0
boto3==1.9.45
botocore==1.12.45
Bottleneck==1.3.2
bravado==10.4.1
bravado-core==5.13.1
bs4==0.0.1
bz2file==0.98
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
Chameleon==3.7.1
chardet==3.0.4
chromedriver==2.24.1
cifar2png==0.0.3
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
codecov==2.0.22
colorama==0.4.3
colorlog==4.1.0
colormap==1.0.2
colorthief==0.2.1
colourmap==0.1.1
conda==4.8.4
conda-build==3.17.6
conda-package-handling==1.6.0
conda-verify==3.1.1
constantly==15.1.0
contextlib2==0.6.0.post1
coverage==5.1
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
datashape==0.5.4
decorator==4.4.1
dedupe-hcluster==0.3.8
defusedxml==0.6.0
Deprecated==1.2.10
dill==0.3.1.1
distributed==2.11.0
Django==2.2.10
django-extensions==2.1.3
dnspython==1.16.0
docutils==0.14
easydev==0.9.38
EasyProcess==0.2.7
efficient-apriori==1.1.1
emoji==0.5.4
emot==2.1
en-core-web-md==2.3.0
en-core-web-sm==2.3.0
entrypoints==0.3
et-xmlfile==1.0.1
Faker==1.0.2
fastcache==1.1.0
fastcluster==1.1.26
filelock==3.0.12
fire==0.3.1
Flask==1.1.1
Flask-Cors==3.0.8
flask-ngrok==0.0.25
fsspec==0.6.2
funcy==1.14
funk-svd==0.0.1.dev1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.2.2
gdown==3.8.3
gensim==3.6.0
geographiclib==1.50
geopy==2.0.0
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
glfw==1.12.0
glob2==0.7
gmpy2==2.0.8
graphviz==0.14
greenlet==0.4.15
grpcio==1.31.0
grpcio-tools==1.31.0
gunicorn==20.0.4
gym==0.17.2
gym-super-mario-bros==7.3.2
h5py==2.10.0
haversine==2.3.0
hdbscan==0.8.26
HeapDict==1.0.1
html2text==2020.1.16
html5lib==1.0.1
hupper==1.10.2
hyperas==0.4.1
hyperlink==18.0.0
hyperopt==0.2.3
hypothesis==5.5.4
idna==2.7
imageio==2.6.1
imagesize==1.2.0
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==1.5.0
imtools==2.0.1
imutils==0.5.3
incremental==17.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.3
joblib==0.14.1
json5==0.9.1
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.6
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
kaggle==1.5.6
Keras==2.2.4
Keras-Applications==1.0.7
keras-contrib==2.0.8
Keras-Preprocessing==1.0.9
keras-rl==0.4.2
keyring==21.1.0
kiwisolver==1.0.1
kshape==1.0.1
langdetect==1.0.7
lazy-object-proxy==1.4.3
lesscpy==0.13.0
libarchive-c==2.8
lief==0.9.0
lightfm==1.15
lightgbm==2.3.1
liwc-text-analysis==1.0.2
llvmlite==0.26.0
locket==0.2.0
lockfile==0.12.2
lxml==4.5.0
macropy3==1.1.0b2
mailer==0.8.1
Mako==1.1.2
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.3
mock==4.0.1
monotonic==1.5
more-itertools==8.2.0
mpi4py==3.0.3
mpmath==1.1.0
msgpack==0.6.1
msgpack-python==0.5.6
multipledispatch==0.6.0
murmurhash==1.0.2
music21==6.1.0
mysql-connector-python==8.0.15
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
neptune-client==0.3.0
neptune-notebooks==0.0.6
nes-py==8.1.6
networkx==2.4
nltk==3.4.5
nmslib==2.0.6
nose==1.3.7
notebook==6.0.3
numba==0.41.0
numexpr==2.7.1
numpy==1.19.1
numpydoc==0.9.2
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
odo==0.5.1
olefile==0.46
onetimepass==1.0.1
opencv-contrib-python==4.0.0.21
opencv-python==4.1.2.30
openpyxl==3.0.3
packaging==19.1
paho-mqtt==1.3.0
pandas==1.1.0
pandas-datareader==0.8.1
pandocfilters==1.4.2
parse==1.18.0
parsel==1.6.0
parso==0.6.1
partd==1.1.0
PasteDeploy==2.1.0
path==13.1.0
pathlib==1.0.1
pathlib2==2.3.5
patool==1.12
patsy==0.5.1
pbr==5.1.2
pca==1.3.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipe==1.5.0
pkginfo==1.5.0.1
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.8.2
pluggy==0.13.1
ply==3.11
preshed==3.0.2
progressbar2==3.52.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.6.1
psutil==5.6.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
pugnlp==0.2.6
py==1.8.1
pybind11==2.5.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydot==1.4.1
pydot-ng==2.0.0
pyflakes==2.1.1
PyGithub==1.51
pyglet==1.5.0
Pygments==2.5.2
PyHamcrest==1.9.0
PyJWT==1.7.1
pyLDAvis==2.1.1
pylint==2.4.4
pymongo==3.9.0
PyMySQL==0.9.3
PyNonpar==0.2.0
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.2
PypeR==1.1.2
pyquery==1.4.1
pyramid==1.10.4
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.6.1
pyramid-mako==1.1.0
pyrsistent==0.15.7
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.8.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.7.5
python-Levenshtein==0.12.0
python-slugify==4.0.0
python-utils==2.4.0
pytz==2018.7
pyunpack==0.1.2
PyWavelets==1.1.1
pywebcopy==6.3.0
PyYAML==5.3
pyzmq==18.1.1
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
rdflib==5.0.0
regex==2020.6.8
repoze.lru==0.7
requests==2.20.1
requests-oauthlib==1.2.0
retrying==1.3.3
rfc3987==1.3.8
rope==0.16.0
rpy2==3.2.6
ruamel-yaml==0.15.87
s3transfer==0.1.13
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-surprise==1.1.1
scipy==1.5.2
seaborn==0.8.1
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.7.1
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.3.0
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.13
sqlparse==0.3.0
srsly==1.0.2
statsmodels==0.11.0
stop-words==2015.2.23.1
strict-rfc3339==0.7
stripe==2.55.0
surprise==0.1
swagger-spec-validator==2.4.3
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
tensorboard==1.12.2
tensorflow==1.13.0rc2
tensorflow-estimator==1.13.0rc0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
Theano==1.0.3+2.g3e47d39.dirty
thinc==7.4.1
toolz==0.10.0
torch==1.6.0
tornado==6.0.3
tqdm==4.48.2
traitlets==4.3.3
translationstring==1.3
tslearn==0.4.1
Twisted==18.9.0
twister==0.0.1
twitter==1.18.0
typing-extensions==3.7.4
tzlocal==2.0.0
unicodecsv==0.14.1
urllib3==1.24.2
vaderSentiment==3.3.2
venusian==3.0.0
vlermv==2.0.0
w3lib==1.22.0
waitress==1.4.3
wasabi==0.7.0
wcwidth==0.1.8
webcolors==1.9.1
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.56.0
WebTest==2.0.35
Werkzeug==1.0.0
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
zict==1.0.0
zipp==2.2.0
zmq==0.0.0
zope.deprecation==4.4.0
zope.interface==4.6.0
