{% extends 'base.html' %}

{% block content %}
<header class="header --header">
    <div class="container center-align">
        <h1>Compedency Question 1: Room Type Activities</h1>
        <h5>What room types are available where there are fishing activities?</h5>
    </div>
</header>

{% if results_set %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th class="--table-row">Location</th>
                <th class="--table-row">Accommodation Type</th>
            </tr>
        </thead>

        <tbody>
            {% for row in results_set -%}
            <tr>
                <td class="--table-row">{{ row[1]  }}</td>
                <td class="--table-row">{{ row[0]  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}
{% endblock %}