{% extends 'base.html' %}

{% block content %}
<header class="header" style="background-color: #f5f5f5;padding: 3em 0;margin-bottom: 3em;">
    <div class="container center-align">
        <h1>{{ competency_question_title }}</h1>
        <h5>{{ competency_question }}</h5>
    </div>
</header>


{% if results_set %}
<div class="container">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header">
                <i class="material-icons">help</i>
                {{ competency_question_title }} Query
            </div>
          <div class="collapsible-body"><p>{{ query }}</p></div>
        </li>
      </ul>

    <table>
        <thead>
            <tr>
                {% for row in results_set_vars -%}
                    <th class="--table-row">{{ row }} </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in results_set -%}
            <tr>
                {% for item in row -%}
                    <td class="--table-row">{{ item  }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}
{% endblock %}